@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

/*header*/

header{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    background-color: rgb(231, 229, 229);
}

.enlaces{
    display: none;
}

.menu{
    width: 30px;
    height: 30px;
    margin: 10px;
    position: absolute;
    left: 0;
}

img{
    width: 100%;
}

.name{
    align-items:center;
}

#name{
    margin: 5px;
    font-family: 'Sofia', cursive;
    font-size: 25px;
}

@media screen and (min-width: 768px) {
    header {
        height: 60px;
    }

    #name{
        font-size: 35px;
        position: absolute;
        left: 20px;
    }

    .menu{
        display: none;
    }

    .enlaces{
        display: flex;
        position: absolute;
        right: 0;
        margin: 0 20px 0 0;;
    }

    .cajaContenedor{
        margin: 0 10px;
    }

    .enlace{
        text-decoration: none;
        font-size: 35px;
        font-family: 'Sofia', cursive;
        color: rgb(39, 31, 31);
        font-weight: bold;
    }
}